.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.continer{
    display: grid;
    background-color: rgb(142, 165, 180);
    border: 5px solid rgb(0, 0, 0);
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px ;
    grid-gap: 4px;
}
.item{
    background-color: rgb(79, 59, 65);
    border: 2px solid black;
}
.item1{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 1;
    grid-column-end: 3;

}
.item2{
   grid-row: 1;
   grid-column: 3;

}
.item3{
    grid-area:3/1/5/2 ;
}