<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Layout</title>
    <link rel="stylesheet" href="flexstyle.css">
</head>
<body>
    <main>
        <div class="hero">
            <div class="hero-left">
                <h1 class="hero-heading">Selling online is vital to business growth.</h1>
                <p class="hero-sub-heading">2025 Grow Your e-Commerce Conference</p>
                <p class="hero-date">September 16-18, 2025 <br> Paragon One Plaza and Sky Garden</p>
                <button class="button hero-button">BOOK NOW FOR EARLY BIRD PRICES</button>
            </div>
            <div class="hero-image">
                <img src="https://media-public.canva.com/pSptc/MAEcwupSptc/1/s.jpg" alt="">			
            </div>
        </div>
    </main>

    <section class="about-section">
        <div class="container">
            <div class="about">
                <h2 class="about-heading">
                    The most awaited e-commerce event is back!
                </h2>
                <p class="about-paragraph">Every year, thousands of marketing, sales,

                    and web development professionals gather in and around Venston Bay to discuss the future of e-commerce.</p>
				</div class="people">
            <img width="600" src="https://media-public.canva.com/jpfqg/MAEcv3jpfqg/1/s2.jpg" alt="">
        </div>
    </section>

    <section class="people-section">
        <h2 class="people-heading">Our 2025 Keynote Speakers</h2>
        <div class="people-flex">
            <div class="card">
                <img src="https://media-public.canva.com/WnIHs/MAEctZWnIHs/1/s.jpg" alt="">
                <h4 class="people-name">Leslie Boatwright</h4>
                <p class="card-description">Head of Marketing</p>
                <p>The Hobbibox</p>
                <h6 class="card-date">September 16</h6>
            </div>
            <div class="card">
                <img src="https://media-public.canva.com/wo01w/MAEctdwo01w/1/s.jpg" alt="">
                <h4 class="people-name">Leslie Boatwright</h4>
                <p class="card-description">Head of Marketing</p>
                <p>The Hobbibox</p>
                <h6 class="card-date">September 16</h6>
            </div>
            <div class="card">
                <img src="https://media-public.canva.com/wXKHQ/MAEctYwXKHQ/1/s.jpg" alt="">
                <h4 class="people-name">Leslie Boatwright</h4>
                <p class="card-description">Head of Marketing</p>
                <p>The Hobbibox</p>
                <h6 class="card-date">September 16</h6>
            </div>
        </div>
    </section>

    <section class="sponsor-section">
        <div class="sponsor">
            <img src="https://media-public.canva.com/GKwuo/MAEhGQGKwuo/1/s2.jpg" alt="" class="sponsor-image">
            <div class="sponsor-rightt">
                <h2 class="sponsor-heading">Our Sponsor</h2>
                <p class="sponsor-paragraph">Our Sponsors Sandrine Logistics Murrayfield School of Marketing Schuester Digital Media Group Blue Samurai Productions Berao Solutions, Inc. Golden Ore Bank</p>
            </div>
        </div>
    </section>

    <section class="contact-section">
        <div class="contact">
            <div class="contact-left">
                <h2 class="contact-heading">Reach Out</h2>
                <p class="contact-address">Conference Secretariat

                    163 Woodlands Place
                    
                    Algies Bay, Rodney 0920</p>
                
                <p class="contact-phone">123-456-7890

                    hello@reallygreatsite.com
                    
                    @reallygreatsite</p>

                <button class="button contact-button">RESERVE YOUR SEAT</button>
				</div class="canvq">
            <img src="https://media-public.canva.com/7-ZEw/MAEcv37-ZEw/1/s2.jpg" alt="">
        </div>
    </section>
</body>
</html>